$red: #C80000;
$light-grey: #9B9B9B;
$white: #FFFFFF;
$dark-blue: #002846;
$green: #005A00;
$light-orange: #c88232;
$dark-grey: #505050;
$orange: #DC6432;
$black: #000000;
$dark-red: #821414;
$yellow: #AA8200;
$medium-dark-red: #8C0000;
$bright-blue: #0046AA;

$rebel-main: $light-grey;
$rebel-accent: $red;
$empire-main: $dark-blue;
$empire-accent: $white;
$scum-main: $light-orange;
$scum-accent: $green;
$resistance-main: $dark-grey;
$resistance-accent: $orange;
$firstorder-main: $dark-red;
$firstorder-accent: $black;
$republic-main: $yellow;
$republic-accent: $medium-dark-red;
$separatists-main: $bright-blue;
$separatists-accent: $white;

$header-background: $red;
$header-height: 64px;