.selector-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: white;
  align-items: center;
}

a.nav-link {
  transition:
    font-size 0.3s ease,
    line-height 0.3s ease;
  & > i {
    padding: 4px;
    font-size: 48px;
    line-height: 48px;
  }
  &.active {
    & > i {
      font-size: 54px;
      line-height: 54px;
    }
  }
}
