.ship-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ship-row {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
